<div class="card-wide mdl-card mdl-shadow--2dp box {{if entry.read 'read'}}" {{action "click" entry}}>
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <a target="_blank" href="{{entry.url}}" {{action "openExternalLink" entry}}>{{entry.title}}</a>
    </h2>
    <div class="mdl-card__subtitle-text">{{moment-from-now entry.published_date}}</div>
  </div>
  <div class="mdl-card__supporting-text">
    {{{entry.content}}}
  </div>
</div>
